[user]
	name = Andy Ladd
	email = aladd04@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	useHttpPath = true
[credential "https://dev.azure.com"]
	useHttpPath = true
